/*-------- Utility Styles --------*/
* {
	box-sizing: border-box; 
	/* ^^^ Forces all elements to include content, padding, and border as part of their width/height calculation: 
	http://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
	font-family: 'Proza Libre', sans-serif;
	font-size: 14px;
	padding: 10px;
}
h1 {
	font-size: 28px;
	margin: 25px;
}


/*-------- Main Styles --------*/


*/
#main {
	width: 100%;
}
.container {
	float: left;
}

.container, form, input, button, textarea {
	border-radius: 3px;
}
/*-------- Form Styles --------*/

.form {
	width: inherit;
	max-width: 500px;
	background: #E3E6EC;
}

/* 

	Make sure the form itself fills the width of whatever container its in, but no larger than 500px.
	
	The background should be #E3E6EC, and it should align to the middle of its container.
	
	Every element should have nice, even padding or margin around it.

	.row elements should be spaced out so they're not touching.

	.formGroup elements should fill the width of their container, and be inline-block.

	The labels inside of .formGroup should be on their own line above form options, fill the width of their container, and have top/bottom padding.

	Radio buttons and checkbox options should each be on their own line, and indented a little. 

	Radio buttons and checkbox labels should be directly to the right of their corresponding inputs, and the text should vertically align with the inputs. 

	Text inputs, submit buttons, and select boxes should all be at least 48px tall. The should have 14px of padding around their text. 


	Text inputs, select boxes, and textareas should have a 1px border that's #CCC, and none of the default shadows.	
	
*/

textarea {
	height: 100px;
}
#submit {
	float: right;
	font-weight: 700;
	padding: 0;
	background: rgba(39,208,127,0.5);
}
#submit:hover {
	background: rgba(39,208,127,1.0);
}

/*-------- Results Styles --------*/

.results {
	background: #C8DBB3;
}
/* 

	The results container should also fill the width of its container, but only up to 500px.

	The results container should have a background color of #C8DBB3, and comfortable padding around the text.

*/

